@font-face {
	font-family: 'HelveticaNeueLTStd';
	src: url('../fonts.HelveticaNeueLTStd Lt.otf') format('truetype')
	font-weight: normal;
	font-style: normal;
}

html, body
{
	height: 100%;
	font-family: 'HelveticaNeueLTStd';
	font-size: 100%;
}
.logo
{
	max-height: 50px;
}

nav
{
	height: 50px
}

footer nav .container-fluid
{
	padding-left: 0;
}

nav.navbar
{
	border-radius: 0;
}

nav.navbar li:hover
{
	background-color: firebrick;
}

.navbar-default .navbar-nav>li:hover>a
{
	color: white;
}

ul.nav.navbar-nav 
{
    background-color: white;
}

#body
{
	min-height: 100%;
	overflow: auto;
	padding: 75px 0;
	background: url('../images/minions.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#content
{
	background: white;
    padding: 0;
}


#content p
{
    padding: 10px 20px;
}

iframe
{
    width: 290px;
    height: 420px;
}

#chart_div
{
	height: 500px;
}

h1
{
	background-color: firebrick;
	color: white;
	margin: 0;
	padding: 5px 10px;
	margin-bottom: 10px;
	font-family: Times;
}

.btn-red, .btn-nav, .btn-table
{
	background-color: firebrick;
	color: white;
	border-radius: 0;
	margin: 10px;
    line-height: 1.3333333;
}

.btn-table
{
	margin: 0;
}

.btn-red
{
	padding: 10px 16px;
    font-size: 18px;
}

.btn-red:hover, .btn-nav:hover, .btn-table:hover
{
	background-color: crimson;
	color: white;
}

form
{
	padding: 20px 70px;
}

#list-users
{
	padding: 5px 20px;
}

.center
{
	text-align: center
}

.brand, .brand:hover
{
	text-decoration: none;
	color: crimson;
}

.brandName
{	
	font-size: 24px;
	padding: 0 10px;
}

/********************************************************
*               Page Contact                            *
********************************************************/
#contactInfos
{
	padding: 10px;
	width: 280px;
	margin: 0 auto;
}

/********************************************************
*               Footer                            *
********************************************************/
/* Afin d'éviter le collapse du footer */
@media(max-width:767px)
{
	footer ul.nav.navbar-nav 
	{
	    height: 50px;
	    margin: 0;
	}

	footer .nav>li
	{
	    height: 50px;
	    margin: 0;    
	    padding: 5px 0;
	}

	footer .navbar-collapse.collapse 
	{
		display: block!important;
	}

	footer .navbar-nav>li, footer .navbar-nav
	{
		float: left !important;
	}

	footer .navbar-nav.navbar-right:last-child
	{
		margin-right: -15px !important;
	}

	footer .navbar-right 
	{
		float: right!important;
	}
}