/********************************************************
*                      Polices                          *
********************************************************/
@font-face {
	font-family: 'LinuxLibertine';
	src: url('../fonts/LinLibertine_RB.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Cantarell.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

h1
{
	font-family: 'LinuxLibertine';
}

nav
{
	font-family: 'LinuxLibertine';
	font-size: 105%;
}

body
{
	font-family: 'Cantarell';
}


/********************************************************
*                      General                          *
********************************************************/
html, body
{
	height: 100%;
	font-size: 105%;
}

.center
{
	text-align: center
}

#body
{
	min-height: 100%;
	overflow: auto;
	padding: 75px 0;
	background: url('../images/minions.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#content
{
	background: white;
    padding: 0;
}

#content p
{
    padding: 10px 20px;
}

h1
{
	background-color: firebrick;
	color: white;
	margin: 0;
	padding: 5px 10px;
	margin-bottom: 10px;
	/*font-family: 'LinuxLibertine';*/
}

/********************************************************
*                    Profil user                        *
********************************************************/
iframe
{
    width: 290px;
    height: 420px;
}

.success
{
	color: green;
}

.error
{
	color: red;
}
/********************************************************
*                        Stats                          *
********************************************************/


#chart_div img
{
	width: 100%;
}

/********************************************************
*                     Boutons                           *
********************************************************/
.btn-red, .btn-nav, .btn-table
{
	background-color: firebrick;
	color: white;
	border-radius: 0;
	margin: 10px;
    line-height: 1.3333333;
}

.btn-table
{
	margin: 0;
}

.btn-red
{
	padding: 10px 16px;
    font-size: 18px;
}

.btn-red:hover, .btn-nav:hover, .btn-table:hover
{
	background-color: crimson;
	color: white;
}

/********************************************************
*                   Navigation                          *
********************************************************/
nav.navbar
{
	border-radius: 0;
}

nav.navbar li:hover
{
	background-color: firebrick;
}

.navbar-default .navbar-nav>li:hover>a
{
	color: white;
}

ul.nav.navbar-nav 
{
    background-color: white;
}

.logo
{
	max-height: 50px;
}

nav
{
	height: 50px
}

.brand, .brand:hover
{
	text-decoration: none;
	color: crimson;
}

.brandName
{	
	font-size: 24px;
	padding: 0 10px;
    vertical-align: middle;
}

/********************************************************
*               Page Contact                            *
********************************************************/
#contactInfos
{
	padding: 10px;
	width: 280px;
	margin: 0 auto;
}

.fa-mobile
{
	vertical-align: middle;
}

/********************************************************
*                     Footer                            *
********************************************************/
footer nav .container-fluid
{
	padding-left: 0;
}

/* Afin d'éviter le collapse du footer */
@media(max-width:767px)
{
	footer ul.nav.navbar-nav 
	{
	    height: 50px;
	    margin: 0;
	}

	footer .nav>li
	{
	    height: 50px;
	    margin: 0;    
	    padding: 5px 0;
	}

	footer .navbar-collapse.collapse 
	{
		display: block!important;
	}

	footer .navbar-nav>li, footer .navbar-nav
	{
		float: left !important;
	}

	footer .navbar-nav.navbar-right:last-child
	{
		margin-right: -15px !important;
	}

	footer .navbar-right 
	{
		float: right!important;
	}
}

/********************************************************
*                      Signup                           *
********************************************************/
form
{
	padding: 0 70px;
}

.form-control, .input-group-addon
{
	border-radius: 0;
}

/********************************************************
*                      Membres                          *
********************************************************/
.pagination>li:last-child>a, .pagination>li:first-child>a
{
	border-radius: 0;
}

#list-users
{
	padding: 5px 20px;
}

/********************************************************
*                     A propos                          *
********************************************************/
#photo-about
{
	width: 100%;
}