<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" id="content">
	<h1>A propos</h1>
	<div>
		<div class="col-xs-12">
			<div class="col-xs-3">
				<img src="images/square.jpg" id="photo-about"/>
			</div>
			<div class="col-xs-9">
				<p>Ce site a été développé par <strong>Kenny GUIOUGOU</strong>, étudiant en Master 1 Solutions Informatiques Libres à l'université d'Angers.</p>
			</div>
		</div>
		<div class="col-xs-12">
			<p>Les technologies suivantes ont été utilisées: </p>
			<ul>
				<li><strong>Ruby on Rails version 4.2.4</strong> comme framework</li>
				<li><strong>jQuery 2</strong> pour dynamiser les pages</li>
				<li><strong>Bootstrap 3</strong> pour développer facilement et rapidement un site responsive</li>
			</ul>
			<p>Les plugins jQuery suivants ont été utilisés afin d'améliorer l'expérience utilisateur: </p>
			<ul>
				<li><a href="https://eonasdan.github.io/bootstrap-datetimepicker/">Bootstrap 3 Datepicker</a> pour un choix plus aisé des dates dans les formulaires</li>
				<li><a href="https://datatables.net/examples/styling/bootstrap.html">DataTable.js</a> pour l'affichage des la liste des utilisateurs dans un tableau triable et paginé</li>
				<li><a href="http://www.highcharts.com/demo">HighCharts.js</a> pour l'affichage des graphiques</li>
			</ul>
			<p>Les polices suivantes ont été utilisées sur le site: </p>
			<ul>
				<li><a href="http://www.dafont.com/fr/linux-libertine.font">Linux Libertine</a> pour les titres et les menus</li>				
				<li><a href="https://fortawesome.github.io/Font-Awesome/">Font Awesome</a> pour le jeu d'icônes</li>
				<li><a href="http://www.fontsquirrel.com/fonts/cantarell">Cantarell</a> pour le reste</li>
			</ul>
		</div>
	</div>
</div>