<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" id="content">
	<h1>A propos</h1>
	<div>
		<p>Ce site a été développé avec les technologies suivantes: </p>
		<ul>
			<li>Ruby on Rails version</li>
			<li>jQuery</li>
			<li>Bootstrap</li>
		</ul>
		<p>Les gems suivantes ont été installées: </p>
		<ul>
			<li>Ruby on Rails version</li>
			<li>jQuery</li>
			<li>Bootstrap</li>
		</ul>
		<p>Les plugins jQuery suivants sont utilisés: </p>
		<ul>
			<li>datepicker</li>
			<li>datable</li>
			<li>highcart</li>
		</ul>
	</div>
</div>