<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" id="content">
	<h1>Aide</h1>
	<p>Pour vous inscrire, cliquez sur le bouton inscription.</p>
	<p>Les statistiques s'afficheront si il y'a au moins un utilisateur dans la base de données</p>
</div>